html {
    background-color: #f0f0f0;
    /* background-color: lightgreen; */
    /* background-image: url(gris.png) */
}

img {
	width: 100px;
	height: 100px;
}

body {
    /* border: 0.1px solid rgb(68, 68, 68) ; */
    margin: auto;
    padding: 20px;
    width: 25%;
    background-color: white;
    border-radius:5px;
    color: black;
    transform: perspective(1px) translateY(25%);
    opacity: 1;
    box-shadow: 1px 1px 10px 2px  grey;
}

Titre {
    font-size: 30px
}

label {
    height:20px;
    width:20px;
}

memory {
    background-color: ;
}

login {
        width: 200px;
        line-height: 2.5;
        padding: 17px 150px;
        color: black;
        border-radius: 5px;
        background-color: lightskyblue;
        border: 1px black;
}

login:hover {
    background-color:black;
    color: white;
}

mdp:hover {
    text-decoration: underline;
}

input[type=text] {
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 2px solid lightskyblue;
}

input[type=password] {
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 2px solid lightskyblue;
}



Input::placeholder{
    /* text-align: unset; */
    color: lightskyblue;
    font-size: 17px;
}

memory {
    text-align: start;
}

/* .champ {
    height: 50px;
    width: 300px;
    font-size: 3.5em;
} */